{% extends 'base.html' %}

{% block title %}About the Team{% endblock title %}

{% block content %}

    <div class="about-container">
        <div class="about-title">
            <img src="/static/img/About Project red.png" alt="About Project">
        </div>
        <div class="about-project-container">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam commodi cumque quasi illum magni temporibus laborum sunt suscipit, blanditiis recusandae eaque quo dolore tempora ducimus deleniti ullam quod error rerum repellat in obcaecati impedit! Dicta veritatis asperiores alias culpa laboriosam omnis quam, numquam repudiandae velit repellat. Aliquid, a. Recusandae inventore, corrupti dolor unde eius laboriosam obcaecati officiis dolore rem minus quo, ut nesciunt molestiae tenetur animi temporibus ullam magnam aliquam nisi vero amet reiciendis quidem autem! Nisi temporibus consectetur voluptas provident consequatur sequi doloribus hic magni corporis quo officia iusto veritatis, consequuntur ut similique facilis? Necessitatibus ipsa doloribus commodi libero?</p>
        </div>
    </div>

    <div class="dev-container">
        <div class="box">
            <span></span>
            <div class="content">
                <h2>DeVonte G</h2>
                <img src="/static/img/Blaq Phantom_Body_1000.png" alt="Blaq_Phantom" width="115" height=" 100">
                <a href="{% url 'dev1' %}">Read More</a>
            </div>
        </div>
        <div class="box">
            <span></span>
            <div class="content">
                <h2>Derek D</h2>
                <img src="/static/img/Derek_fox.png" alt="Fox in Tux" width="115" height="100">
                <a href="{% url 'dev2' %}">Read More</a>
            </div>
    </div>

{% endblock content %}