{% extends 'base.html' %}

{% block title %}About the Team{% endblock title %}

{% block content %}

    <div class="about-container">
        <div class="about-title">
            <img src="/static/img/About Project red.png" alt="About Project">
        </div>
        <div class="about-project-container">
            <p>This project was envisioned by its two founders Derek Dolan and DeVonte Gray. An attempt to initally bring a one-stop shop for all of your computer needs turned into just a Graphics Processing Units (GPUs) store. This project hosts the current most sought after graphics cards on the market today. The RTX 3070, RTX 3080 and the infamous RTX 3090. The mission of this site/ project is to test and implement different languages or styles to create a working web site. </p>
        </div>
    </div>

    <div class="dev-container">
        <div class="box">
            <span></span>
            <div class="content">
                <h2>DeVonte G</h2>
                <img src="/static/img/Blaq Phantom_Body_1000.png" alt="Blaq_Phantom" width="115" height=" 100">
                <a href="{% url 'dev1' %}">Read More</a>
            </div>
        </div>
        <div class="box">
            <span></span>
            <div class="content">
                <h2>Derek D</h2>
                <img src="/static/img/Derek_fox.png" alt="Fox in Tux" width="115" height="100">
                <a href="{% url 'dev2' %}">Read More</a>
            </div>
    </div>

{% endblock content %}