{% extends 'base.html' %}

{% block title %}DeVonte G {% endblock title %}

{% block content %}
    <div class="dev1">
        <img src="/static/img/Blaq Phantom_Body_1000.png" alt="Blaq" width="250" height="200">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis maxime earum asperiores nostrum repellendus, voluptas delectus quia illo praesentium accusantium deleniti. Dicta dolores vel perferendis dolor libero beatae necessitatibus deleniti corporis vitae nam quasi ex harum numquam labore, nobis omnis architecto facere aperiam. Animi ullam ut minus praesentium debitis. At ad esse temporibus? Odit non et, assumenda architecto reprehenderit rem numquam fuga obcaecati earum debitis! Iste quisquam voluptatibus repellat dolores reiciendis quod hic nulla velit, explicabo nihil facere eos magni, eum, neque doloribus! Natus veritatis, doloribus excepturi tempore cum accusamus expedita impedit cumque voluptatem, adipisci voluptates sunt similique, nobis rerum!</p>
    </div>
{% endblock title %}