.login-header {
    align-content: center;
    align-items: center;
    border: 2px solid red;
    border-radius: 25px;
    box-shadow:10px 10px 10px darkgray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 9rem;
    text-align: center;
    max-width: 20vw;
}

.login-header h1{
    display: block;
    font-size: 3.5em;
    font-weight: bold;
    margin: 1rem 1rem 1rem 1rem;
    /* margin: 0.6em 0; */
}


.login-container {
    align-content: center;
    align-items: center;
    border: 2px solid red;
    border-radius: 25px;
    box-shadow: 10px 10px 10px darkgray;
    margin: 4rem auto 4rem auto;
    padding: 2rem;
    max-width: 20vw;
}

.login-container input  {
    align-content: center;
    display: flex;
    width: 20rem;
}

.submit-btn {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.btn {
    width: 10rem;
}

